<!--ログインしていれば、お気に入りに追加 or 解除のボタンを表示-->
<span class="text-center mt-5">
  <% if logged_in?%>
    <% if current_user.like?(novel) %>
      <%= form_with(model: current_user.favorites.find_by(novel_id: novel.id), local: true, method: :delete) do |f| %>
        <%= hidden_field_tag :novel_id, novel.id %>
        <%= f.button :type => "submit", class: "submit" do %>
          <i class="fas fa-heart fa-2x pink"></i>
          <span class="pink"><%= novel.favorites.count %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
        <%= hidden_field_tag :novel_id, novel.id %>
        <%= f.button :type => "submit", class: "submit" do %>
          <i class="far fa-heart fa-2x pink"></i>
          <span class="pink"><%= novel.favorites.count %></span>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <i class="far fa-heart fa-2x pink"></i>
    <span class="pink"><%= novel.favorites.count %></span>
  <% end %>
</span>
