<div class="text-center mt-5">
  <h1 class="font-weight-bold">新規小説作成</h1>
</div>
<%= render 'subjects/three_subjects' %>

<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <%= form_with(model: @novel, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %> <!--エラーメッセージを表示-->
      
      <div class="form-group text-center">
        <%= f.label :title, "タイトル", class: "mt-4" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group text-center">
        <%= f.label :text, "本文", class: "mt-4" %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      
      <div class="form-group text-center">
        <%= f.label :is_draft, "投稿設定", class: "mt-4" %>
        <%= f.select :is_draft, [["非公開", "true"],["公開", "false"]], {}, class: 'form-control' %>
      </div>
      
      <div class="text-center mt-4">
        <%= f.submit '投稿', class: 'btn-green btn  mt-5' %>
      </div>
    <% end %>
  </div>
</div>