<div class="row">
  <div class="col-md-12">
    <h1 class="text-center mt-5"><%= @novel.title %></h1><!--タイトル表示-->
    <p class="text-center mb-5">著者：<%= @novel.user.name %></p><!--作者名表示-->
    <%= render "subjects/this_subjects", subjects: @subjects %>
    <p class="mt-5 offset-md-1 col-md-10"><%= safe_join(@novel.text.split("\n"),tag(:br)) %></p>
    <%= render "buttons/favorite_button", novel: @novel %>
  </div>
  <div class="center mt-5">
    <% if @novel.user == current_user %>
      <%= render "buttons/delete_button", novel: @novel %>
      <!--期間内であれば編集ボタンを表示＆アラート文-->
      <%= render "buttons/edit_button", novel: @novel %>
    <% end %>
  </div>
</div>