<div class="mt-5 col-md-12">
  <% novels.each do |novel| %>
    <% if !novel.is_draft%>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= novel.title %></h4>
          <p class="card-text border-top">
            著者：<%= novel.user.name %>
            <span class="right">
              <% subjects = novel.link_subject %>
              <% subjects.each do |subject| %>
                <span class="badge badge-pill badge-dark">
                  <%= subject.word.content %>
                </span>
              <% end %>
            </span>
          </p>
          <%= render "buttons/view_button", novel: novel %>
          <span class="right">
            <%= render "buttons/favorite_button", novel: novel %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>